[submodule "MyLake-v2.0"]
	path = MyLake-v2.0
	url = https://github.com/biogeochemistry/MyLake-v2.0.git
[submodule "Sediment-v2.0"]
	path = Sediment-v2.0
	url = https://github.com/biogeochemistry/Sediment-v2.0.git
