/plots_2-checkpoint.ipynb
/Mass balance plots-checkpoint.ipynb
/0 effective sediments-checkpoint.ipynb
/pycnocline sediment-checkpoint.ipynb
/Metrics in paper-checkpoint.ipynb
/Plots_in_the_paper-checkpoint.ipynb
/Data-checkpoint.ipynb
/T scenarios plots-checkpoint.ipynb
